<% @posts.each do |post| %>
<!-- HTML TAGS:
<div> defines a division or a section;
<p> defines a paragraph;
<span> is used to color a part of text. 
-->
<div>
  <div>
    <p><%= post.topic %></p>
    <span>
      <%= link_to "See More", post_path(post)%>
    </span>
  </div>
</div>
<% end %>