<%= render "shared/title", title: "You are reading #{@post.topic}" %>

<div class = "row">
  <div class = "col-md-6 well">
    <h3><%= @post.topic%></h3>
    <p>
    <%= @post.post_text%>
    </p>
  </div>
</div>

<%= link_to "Back", posts_path%>